# Core AWS and OpenSearch
boto3
opensearch-py

# Document and embedding processing
pandas
torch

# LangChain core and community integrations
langchain
langchain-aws
langchain-community
langchain-huggingface
jq

# HuggingFace embeddings:
sentence-transformers
transformers